In [1]:
import pandas as pd

## Условие 2:

На складе лежат разные фрукты в разном количестве.

Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [2]:
def sum_fruits(**kwargs):
  return sum([value for value in kwargs.values()])

In [3]:
sum_fruits(apples=10, oranges=15, bananas=20)

45

## Условие 3:

Дан список с затратами на рекламу. 

Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [4]:
prices = [100, 125, -90, 345, 655, -1, 0, 200]

In [5]:
corrected_prices = [value for value in prices if value>0]

In [6]:
sum(corrected_prices)

1425

## Условие 4.
Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Условие 4.1.
Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [7]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [8]:
amounts = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [9]:
enumerated_dates = enumerate(dates)

In [10]:
november = [index for (index,date) in enumerated_dates if date.split('-')[1]=='11']

In [11]:
sum([amounts[i] for i in november])

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [12]:
def sum_per_month(dates: list, amounts: list) -> dict:
  sum_per_month = dict()
  enum_dates = enumerate(dates)
  for (i, date) in enum_dates:
    month = date.split('-')[1]
    if month in sum_per_month:
      sum_per_month[month] += amounts[i]
    else:
      sum_per_month[month] = amounts[i]
  return sum_per_month

In [13]:
sum_per_month(dates, amounts)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}